<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Constructora ITC{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <!-- Barra de navegación -->
    <header class="navbar">
        <img src="{{ url_for('static', filename='img/LogoITC.png') }}" alt="INALDO TURIZO CORREA">
        <nav class="menu">
            <a href="{{ url_for('index') }}">Inicio</a>
            <a href="{{ url_for('quienes_somos') }}">Quienes somos</a>
            <a href="{{ url_for('servicios') }}">Servicios</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('user_dashboard') }}">Perfil</a>
                <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
            {% else %}
                <a href="{{ url_for('login') }}">Ingresar</a>
            {% endif %}
        </nav>
    </header>

    <!-- Contenido dinámico -->
    {% block content %}{% endblock %}

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
