{% extends "base.html" %}
{% block title %}Quienes somos{% endblock %}
{% block content %}

<!-- Quienes somos -->
<section class="about-section">
    <h1>¿Quienes somos?</h1>

    <!-- Descripción -->
    <section class="about-section">
        <p>
            Somos una empresa de ingeniería que garantiza la calidad y seguridad en cada proyecto,
            respaldada por un equipo profesional y un Sistema de Gestión Integral HSEQ bajo normas
            ISO 9001:2015, ISO 45001:2018 e ISO 14001:2015.
        </p>
    </section>
</section>

<!-- Misión, Visión, Valores -->
<section class="servicios-container">
    <div class="servicio ">
        <h3>Misión</h3>
        <p>
            Somos una empresa de ingeniería que diseña, construye y mantiene obras civiles
            con un equipo profesional que asegura calidad y estabilidad en cada proyecto.
        </p>
    </div>

    <div class="servicio ">
        <h3>Visión</h3>
        <p>
            Ser en 2035 una empresa de ingeniería reconocida a nivel local, regional y nacional
            por la calidad y cumplimiento en obras civiles, viales y de rocería.
        </p>
    </div>

    <div class="servicio ">
        <h3>Valores</h3>
        <p>Compromiso, responsabilidad, innovación y respeto por el entorno.</p>
    </div>
</section>

<!-- Historia -->
<section class="about-section">
    <h1>Historia</h1>

    <!-- Descripción -->
    <section class="about-section">
        <p>
            La empresa Inaldo de Jesús Turizo Correa nació en el año 2000 con la misión de ofrecer soluciones en el
            ámbito
            de la ingeniería y la arquitectura.
            Desde el principio, se ha destacado por su calidad, compromiso y responsabilidad en cada uno de sus
            proyectos,
            ganándose la confianza de sus clientes
            tanto a nivel local como regional.
            A lo largo de más de 20 años, la empresa ha estado involucrada en el diseño, construcción y desarrollo de
            obras
            civiles e infraestructura, construyendo
            una trayectoria que refleja profesionalismo e innovación. En la actualidad, busca expandirse al entorno
            digital
            como parte de su crecimiento, sin perder
            la esencia de servicio y excelencia que la ha caracterizado desde sus inicios.
        </p>
    </section>
</section>

<section class="about-section">
    <h1>Nuestra experiencia</h1>
</section>

<section class="experiencia">
    <div class="carrusel-experiencia">
        <button class="btn-prev">❮</button>

        <div class="contenedor-cards">
            <div class="cards">
                <div class="card">
                    <h3>2000</h3>
                    <p>Construcción de 16 pozas sépticas para la urbanización Minconblo III etapa</p>
                </div>
                <div class="card">
                    <h3>2003</h3>
                    <p>Construcción de la sala de sistemas en la sede de María Auxiliadora de la Institución
                        Educativa municipio de Buenavista</p>
                </div>
                <div class="card">
                    <h3>2004</h3>
                    <p>Construcción y adecuación de la vía de acceso a la Institución Educativa Buenavista María
                        Auxiliadora</p>
                </div>
                <div class="card">
                    <h3>2005</h3>
                    <p>Construcción de cercado de la laguna de oxidación del municipio de Buenavista - Sucre</p>
                </div>
                <div class="card">
                    <h3>2006</h3>
                    <p>Reparación de infraestructura educativa en el municipio de Majagual</p>
                </div>
            </div>
        </div>

        <button class="btn-next">❯</button>
    </div>
</section>

<footer class="footer-bar">
    <p>© 2025 Inaldo Turizo Correa — Construcción e Ingeniería responsable</p>
</footer>

{% endblock %}