{% extends "base.html" %}
{% block content %}

<section class="formulario-container">
    <div class="formulario">
        <form method="POST">
            <h3>Recuperar contraseña</h3>
            <input type="email" name="email" placeholder="Correo electrónico" required>

            <div class="boton-container">
                <button class="btn" type="submit">Enviar</button>
            </div> 
               
        </form>

    </div>
</section>

<footer class="footer-bar">
    <p>© 2025 Inaldo Turizo Correa — Construcción e Ingeniería responsable</p>
</footer>
{% endblock %}
