{% extends "base.html" %}
{% block content %}

<section class="formulario-container">
    <div class="formulario">
        <h3>Recuperar contraseña</h3>
        <form method="POST">
            <input type="email" name="email" placeholder="Correo electrónico" required>

            <div class="boton-container">
                <button class="btn" type="submit">Enviar</button>
            </div>
            
        </form>

        

    </div>
</section>
<p>¿No tienes cuenta? <a href="{{ url_for('register') }}">Regístrate aquí</a></p>


<footer class="footer-bar">
    <p>© 2025 Inaldo Turizo Correa — Construcción e Ingeniería responsable</p>
</footer>
{% endblock %}
