{% extends "base.html" %}
{% block content %}

<section class="formulario-container">
    <div class="formulario">
        <form method="POST">
            <h2>Registro de Usuario</h2>
            <input type="text" name="nombre" placeholder="Nombre completo" required>
            <input type="email" name="email" placeholder="Correo electrónico" required>
            <input type="tel" name="tel" placeholder="Telefono" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            
            <div class="boton-container">
                <button class="btn" type="submit">Registrarse</button>
            </div>
        </form>
    </div>
</section>

<footer class="footer-bar">
    <p>© 2025 Inaldo Turizo Correa — Construcción e Ingeniería responsable</p>
</footer>

{% endblock %}