{% extends "base.html" %}
{% block title %}Servicios{% endblock %}
{% block content %}

<!-- Servicios -->
<section class="about-section">
    <h1>Nuestros servicios</h1>
</section>

<section class="servicios-container">
    <div class="servicio">
        <img src="{{ url_for('static', filename='img/plano.png') }}" alt="Servicios" height="200" width="250">
        <h3>Estudios y Diseños</h3>
        <ul>
            <li>Localización, trazado y replanteo.</li>
            <li>Diseños de planos arquitectónicos, topográficos, eléctricos, hidrosanitarios, estructurales, etc.</li>
        </ul>
    </div>

    <div class="servicio">
        <img src="{{ url_for('static', filename='img/construccionmixta.jpg') }}" alt="Servicios" height="200"
            width="250">
        <h3>Construcción mixta</h3>
        <ul>
            <li>Combinación de muros metálicos y ladrillos.</li>
        </ul>
    </div>

    <div class="servicio">
        <img src="{{ url_for('static', filename='img/obraenmetal.jpg') }}" alt="Servicios" height="200" width="250">
        <h3>Obras de infraestructura metálica</h3>
        <ul>
            <li>Diseño, fabricación y montaje de estructuras metálicas.</li>
            <li>Soldadura, corte y ensamblaje.</li>
            <li>Pintura y protección.</li>
        </ul>
    </div>

    <div class="servicio">
        <img src="{{ url_for('static', filename='img/image (10).png') }}" alt="Servicios" height="200" width="250">
        <h3>Preparación del sitio</h3>
        <ul>
            <li>Cerramiento y señalización de obra.</li>
            <li>Limpieza y descapote del área de trabajo.</li>
            <li>Excavación y movimiento de tierra.</li>
            <li>Relleno, compactación y nivelación del terreno.</li>
            <li>Estabilización del suelo.</li>
            <li>Retiro de material.</li>
        </ul>
    </div>

    <div class="servicio">
        <img src="{{ url_for('static', filename='img/image (11).png') }}" alt="Servicios" height="200" width="250">
        <h3>Construcción y mantenimiento de edificaciones</h3>
        <ul>
            <li>Construcción de pilotes, dados, zapatas y losas de concreto.</li>
            <li>Construcción de columnas, vigas, losas de concreto y otros elementos estructurales.</li>
            <li>Pintura y revestimiento a superficie.</li>
            <li>Instalación de piso.</li>
            <li>Estructuras y acabados de madera.</li>
            <li>Instalación de puertas y ventanas.</li>
            <li>Instalación de elementos decorativos.</li>
        </ul>
    </div>

    <div class="servicio">
        <img src="{{ url_for('static', filename='img/image (12).png') }}" alt="Servicios" height="200" width="250">
        <h3>Diseño y fabricación de fachadas metálicas multiproposito</h3>
    </div>

    <div class="servicio">
        <img src="{{ url_for('static', filename='img/image (13).png') }}" alt="Servicios" height="200" width="250">
        <h3>Construcción de obras de infraestructura vial</h3>
        <ul>
            <li>Construcción de la subrasante.</li>
            <li>Colocación de capas de concreto.</li>
            <li>Acabado de superficie.</li>
            <li>Curado de concreto.</li>
            <li>Instalación de juntas.</li>
            <li>Construcción de cunetas y sistemas de drenaje.</li>
            <li>Señalización y marcado.</li>
            <li>Mantenimiento de vías en concreto.</li>
        </ul>
    </div>

    <div class="servicio">
        <img src="{{ url_for('static', filename='img/image (13).png') }}" alt="Servicios" height="200" width="250">
        <h3>Fabricación e instalación de estructuras metálicas</h3>
        <ul>
            <li>Diseño, fabricación y montaje de estructuras metálicas.</li>
            <li>Soldadura, corte y ensamblaje de elementos metálicos.</li>
            <li>Pintura y protección.</li>
        </ul>
    </div>

    <div class="servicio">
        <img src="{{ url_for('static', filename='img/image (14).png') }}" alt="Servicios" height="200" width="250">
        <h3>Construcción mixta</h3>
        <ul>
            <li>Combinación de muros metálicos y ladrillos.</li>
        </ul>
    </div>

    <div class="servicio">
        <img src="{{ url_for('static', filename='img/image (15).png') }}" alt="Servicios" height="200" width="250">
        <h3>Diseño y desarrollo de instalaciones</h3>
        <ul>
            <li>Sistemas de agua potable y sanitaria.</li>
            <li>Sistema de electricidad.</li>
            <li>Sistema de gas.</li>
            <li>Sistema de telecomunicaciones.</li>
            <li>Sistemas de refrigeración y aires acondicionados </li>
        </ul>
    </div>

    <div class="servicio">
        <img src="{{ url_for('static', filename='img/image (16).png') }}" alt="Servicios" height="200" width="250">
        <h3>Energia eléctrica y solar</h3>
        <ul>
            <li>Instalación de alta, media y baja tensión.</li>
            <li>Sistemas eléctricos con energía solar.</li>
            <li>Sistema de alimentación eléctrica.</li>
            <li>Sistema de iluminación.</li>
            <li>Sistema de fuerza (suministrar energía a motores, bombas y otros equipos).</li>
            <li>Sistema de puesta tierra.</li>
            <li>Sistemas de protección contra rayos.</li>
            <li>Sistema de control y automatización.</li>
            <li>Sistema de distribución de energía.</li>
        </ul>
    </div>

    <div class="servicio">
        <img src="{{ url_for('static', filename='img/image (17).png') }}" alt="Servicios" height="200" width="250">
        <h3>Actividades de rocería y mantenimiento de zonas verdes</h3>
        <ul>
            <li>Podado y mantenimiento de jardines y zonas verdes.</li>
            <li>Tala de árboles.</li>
            <li>Siembra y cultivo.</li>
        </ul>
    </div>

    <div class="servicio">
        <img src="{{ url_for('static', filename='img/image (18).png') }}" alt="Servicios" height="200" width="250">
        <h3>Mantenimiento de instalaciones</h3>
        <ul>
            <li>Limpieza y mantenimiento de equipo.</li>
            <li>Reparación y reemplazo de componentes.</li>
            <li>Mantenimiento preventivo.</li>
            <li>Mantenimiento correctivo.</li>
            <li>Mantenimiento predictivo.</li>
            <li>Actualización y mejora de sistemas.</li>
        </ul>
    </div>
</section>

<!-- Formulario de cotización -->
<section class="formulario-container">
    <div class="formulario">
        <div class="boton-container">
            <button class="btn" type="button" onclick="window.location.href='login'">Adquiere nuestros servicios aquí</button>
        </div>
    </div>
</section>

<footer class="footer-bar">
    <p>© 2025 Inaldo Turizo Correa — Construcción e Ingeniería responsable</p>
</footer>


{% endblock %}